<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  autoReload="true"
      internalLogFile="c:\temp\skylogs\nlog-internal.log"
      internalLogLevel="Off"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="C:\Log\Totvs\Log_${shortdate}.txt"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
		<target name="logfile-error" xsi:type="File"
				fileName="C:\Log\Totvs\Log_Error_${shortdate}.txt"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
	</targets>

	<rules>
		<logger name="*" levels="Trace,Info,Warn" writeTo="logfile" />
		<logger name="*" levels="Error,Fatal" writeTo="logfile-error" />
	</rules>
</nlog>